.nav-menu {
    display: grid;
    grid-template-columns: repeat(2, auto); 
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: left;
    margin-right:git  2rem;
}